.coursesBox{

    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    

    .course{
        background-color: #AECE61;
        padding: 20px 50px;
        width: 60%;
        margin: 5% 0px;
        border-radius: 30px;
        transition: all .3s;
    }

    .course:hover{
        background-color: #3b84ce;
    }

    .course a{
        color: white;
        text-decoration: none;
    }
    .course h1{
         margin: 0px;
    }

    & .newC{
        background-color: #AECE61;
        padding: 20px 20px;
        width: 60%;
        border-radius: 30px;
        font-size: 20px;
        transition: all .3s;
    }

    & .newC a{
        display: flex;
        flex-direction: row;
        align-items: center;
        color: white;
        text-decoration: none;
    }

    & .newC:hover{
        background-color: #3b84ce;
    }

    .newC i{
        margin: 0px 20px 0 10px;
        font-size: 15px;
    }
}