.logIn{
    // background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    margin: 5% auto;
    height: 50vh;


    & .inputs{
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

    & input{

        padding: 5px 20px;

    }

    .buttons{
        margin: 10px;
    }

    .btn{
        padding: 5px 20px;
        margin: 0px 15px;
        background-color: #AECE61;
        color: white;
        transition: .3s all;
    }

    .btn:hover{
        background-color:#3b84ce;
    }
}